<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Tableau Recu</title>
  <link rel="stylesheet" href="./recu-create.component.css">
</head>
<body>
<main>


  <h2>Recu</h2>
  <p><time>Envoyer le 04/03/2023</time></p>
  <table class="client">
    <tr>
      <th>Recu pour</th>

      <th>N° de facture</th>
    </tr>
    <tr>

      <td rowspan="2">Nom</td>

    </tr>

  </table>
  <hr size="1">

  <table class="description">
    <tbody>
    <tr>
      <th>Description</th>
      <th>Libelle</th>
      <th>PaiementEffectue</th>
      <th>Prix total</th>
    </tr>
    <tr>
      <td>product 1</td>
      <td>8</td>
      <td>38,00$</td>
      <td>304,00$</td>
    </tr>
    <tr>
      <td>product 2</td>
      <td>2</td>
      <td>200,00$</td>
      <td>400,00$</td>
    </tr>
    <tr>
      <td>product 3</td>
      <td>250</td>
      <td>6,95$</td>
      <td>1737,50$</td>
    </tr>


    </tbody>
    <tfoot>
    <tr>
      <td>3557,22$</td>
    </tr>
    <tr>
      <td colspan="3">Total</td>
      <td>3457,22$</td>
    </tr>

    </tfoot>
  </table>
</main>
</body>
</html>
